---
---

@import "typography";

$color-low-contrast: #444;
$color-lowest-contrast: #ddd;
$color-high-contrast: #000;
$color-accent: #d63031;

$width-wrapper: 65rem;
$grid-column-gap: 6rem;

$height-gap-large: 6rem;
$height-gap-medium: 4rem;
$height-gap-small: 2rem;

@mixin center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

@mixin margin-vertical($height) {
    margin-top: $height;
    margin-bottom: $height;
}

@mixin slider {
    position: relative;
}

@mixin transition-quickest {
    transition: all 0.2s ease-in-out 0s;
}

@mixin transition-quick {
    transition: all 0.3s ease-in-out 0s;
}

@mixin transition-half-second {
    transition: all 0.5s ease-in-out 0s;
}

@mixin slider-before {
    background-color: $color-accent;
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    @include transition-half-second;
}

@mixin slider-hover-before {
    visibility: visible;
    width: 100%;
}

@mixin fade-in-fast {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.5s;
    animation-delay: 0s
}

@mixin fade-in-slow {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 0.2s
}

/*==================================================
    ANIMATIONS
==================================================*/

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

header {
    @include fade-in-fast;
}

section, main, article, footer {
    @include fade-in-slow;
}

a, .button {
    @include transition-quick;
}

.project:before {
    @include slider-before;
}

.project:hover:before {
    @include slider-hover-before;
}

.project {
    @include slider;
    @include transition-quickest;
}

.project:hover {
    padding-left: 1.5rem;
    color: $color-accent;
}

::selection {
    background: $color-accent;
    color: #fff;
}

::-moz-selection {
    background: $color-accent;
    color: #fff;
}

h3, p {
    color: $color-low-contrast;
}

a:hover {
    color: $color-accent;
}

/*==================================================
    COLORING
==================================================*/

.project {
    border-bottom: 2px solid $color-lowest-contrast;
}

.post-date {
    color: $color-low-contrast;
}

.button {
    color: $color-low-contrast;
    border: 1px solid $color-lowest-contrast;
}

.button:hover {
    color: $color-accent;
    border: 1px solid $color-accent;
}

/*==================================================
    POSITIONING
==================================================*/

/*=========================================
        Margins and Padding
========================================*/
#header-text {
    display: inline-block;
}

#intro, #bio, #content {
    @include margin-vertical(0);
}

.project {
    margin-top: $height-gap-medium;
    padding-bottom: $height-gap-medium;
}

.button {
    margin: 1em;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    display: inline-block;
}

.post-date {
    margin-right: 3rem;
}

.no-gap {
    margin-bottom: 0;
}

#footer {
    ul {
        list-style-type: none;
        padding-left: 0;
        text-align: right;

        li:first-child {
            margin-left: 0;
        }

        li {
            display: block;
            font-weight: 700;
            margin-top: 2em;
        }
    }
}

/*=========================================
        Responsive
========================================*/
#header         {grid-area: header}
#projects       {grid-area: projects}
#blog           {grid-area: blog}
#footer         {grid-area: footer}
#content        {grid-area: content}
#links          {grid-area: links}

.wrapper {
    @include center-horizontal;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

.col-homepage {
    grid-template-areas:
        "header"
        "projects"
        "blog"
        "footer";
}

.col-simple {
    grid-template-areas:
        "header"
        "content"
        "links"
        "footer";
}

header, section, .blog-post, footer {
    @include margin-vertical($height-gap-small);
}

section {
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.post-date {
    display: block;
}

p {
    text-align: left;
    text-indent: 0;
}

@media screen and (min-width: $width-wrapper) {
    header, section, .blog-post, footer {
        @include margin-vertical($height-gap-medium);
    }

    .wrapper {
        margin-top: 20rem;
        width: $width-wrapper;
        grid-auto-flow: column;
        grid-column-gap: $grid-column-gap;
    }

    .col-homepage {
        grid-template-columns: 20.625em 1fr;
        grid-template-areas:
            "header header"
            "projects blog"
            "footer footer";
    }

    .col-simple {
        grid-template-columns: 1fr 20.625em;
        grid-template-areas:
            "header ."
            "content links"
            "footer  footer";
    }

    #bio {
        text-align: right;
    }

    .post-date {
        display: inline;
    }

    p {
        text-align: justify;
        text-indent: 4rem;
    }

    #footer {
        ul {
            li {
                display: inline-block;
                margin-left: 8rem;
                margin-top: 0;
            }
        }
    }
}