// Set default fonts
$font-stack-h: "Playfair Display", serif;
$font-weight-h: 400;

$font-stack-monospace: "Roboto Mono", monospace;
$font-weight-monospace: 400;
$letter-spacing-monospace: 0.1875em;

$font-stack-p: "Merriweather", serif;
$font-weight-p: 300;

@mixin font-monospace {
    font-family: $font-stack-monospace;
    font-weight: $font-weight-monospace;
    letter-spacing: $letter-spacing-monospace;
}

body {
    font-family: $font-stack-p;
    font-weight: $font-weight-p;
}

h1 {
    font-family: $font-stack-h;
    font-weight: $font-weight-h;
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-family: $font-stack-h;
    font-weight: $font-weight-h;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h3, h4, h5, h6 {
    @include font-monospace;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 2.5rem; 
    text-align: justify;
    text-indent: 4rem;
}


/*==================================================
    CUSTOM AREAS
==================================================*/

.project-description {
    font-family: $font-stack-monospace;
    font-size: 0.875rem;
    line-height: 0.875rem;
    margin: 0;
    text-indent: 0;
}

.button {
    @include font-monospace;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-indent: 0;
}

.post-date {
    font-family: $font-stack-monospace;
    font-size: 0.625rem;
    text-indent: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#footer li {
    font-family: $font-stack-h;
    font-size: 1.25rem;
    font-weight: 700;
}